body {
    background-color: grey;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: green;
    width: 300px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px black;
    padding: 10px;
}

.img-card{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.prop {
    font-weight: bold;
    color: white;
}

.oferta {
    color: greenyellow;
}